<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover" id="device-table">
    <thead>
      <tr>
        <th>Android ID</th>
        <th>Device Name</th>
        <th>Username</th>
        <th>Facility</th>
        <th>Device Model</th>
        <th>OS Version</th>
        <th>Build Date</th>
        <th>Status</th>
        <th><input type="checkbox" class="select-all-checkbox" value="-1" id="-1"  data-true-val="true" data-false-val="false"></th>
      </tr>
    </thead>
    <tbody>
    {% for device in device_list %}
      <tr class="device-row {% if not device.heartbeat %} danger {% endif %}">
        <td>{{device.androidId}}</td>
        <td>{{device.name}}</td>
        <td>{{device.user.username}}</td>
        <td>{{device.facility.name}}</td>
        <td>{{device.device_model}}</td>
        <td>{{device.osVersion}}</td>
        <td>{{device.buildNumber}}</td>
        <td>{% if device.heartbeat %}Active{% else %}<em class="offlineDevice">Offline</em>{% endif %}</td>
        <td><input type="checkbox" class="select-checkbox" id="{{device.androidId}}" data-true-val="true" data-false-val="false"></td>
      </tr>      
    {% endfor %}
    </tbody>
  </table>
  {% if not device_list %}
    <p class="text-center">No devices yet!</p>
  {% endif %}

</div>