{% extends 'base.html' %}
{% load staticfiles %}

{% block navbar %}
<!-- NAVBAR
================================================== -->
<div class="navbar-wrapper">
  <div class="container">

    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" {% if user.is_authenticated %} href="{% url 'dashboard' %}" {% else %} href="{% url 'home' %}" {% endif %}>PDi-PORTAL</a>
        </div>
        <div id="navbarLeft" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% url 'home' as home %}
            {% url 'store' as store %}
            {% url 'applications' as apps %}
            {% url 'contact' as contact %}
            <li {% if request.path == home or request.path == store %} class="active" {% endif %}><a href="{% url 'home' %}">Home</a></li>
            <li {% if request.path == apps %}class="active"{% endif %}><a href="{% url 'applications' %}">Applications</a></li>
            <li {% if request.path == contact %} class="active" {% endif %}><a href="{% url 'contact' %}">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              {% if user.is_authenticated %}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Profile <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                  <li><a href="{% url 'device-list' %}">Devices</a></li>
                  <li><a href="{% url 'users' %}">Users</a></li>
                  <li><a href="{% url 'reports' %}">Reports</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="{% url 'account_logout' %}">Logout</a></li>
                </ul>
              {% else %}
                <a href="{% url 'account_login' %}">Login  <span class="glyphicon glyphicon-log-in"></span></a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </div>
</div>

{% endblock %}
